*~
*#
*.swp
*.iml
*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.python-version
/poetry.lock
/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/.vscode

/doc/_apidoc/
/build

.venv
.venv/

.attach_*

dist/

.idea

.kiro/
